<ion-header>
  <ion-toolbar>
    <ion-title> Dynamic JSON Form </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-margin">
    <ion-textarea
      color="primary"
      placeholder="Enter json here..."
      debounce="300"
      (ionChange)="handleInputJson($event)"
    ></ion-textarea>
   
  </ion-item>

  <ion-item  class="ion-margin" *ngIf="validJsonResponse">
    <ion-title size="small"> {{  validJsonResponse | json}}</ion-title>
  </ion-item>

  <ion-item  class="ion-margin" *ngIf="formatJsonError">
    <ion-title size="small"> {{  formatJsonError }}</ion-title>
  </ion-item>

  <ion-card *ngIf="formatJsonError=== ''">
    <ion-card-content>
      <app-json-form [jsonFormData]="validJsonResponse"></app-json-form>
    </ion-card-content>
  </ion-card>
</ion-content>
